form{
	text-align: center;
}
textarea{
	margin-top: 20px;
	border-radius: 4px;
	padding: 10px;
}
input{
	height: 25px;
	color: black;
	border: 1px solid #bababa;
	border-radius: 4px;
	box-shadow: none;

	margin: 5px 0;
	text-align: center;
}
input[type="text"], input[type="password"]{
	width: 250px;
}
input[type="button"], input[type="submit"] {
	width: 100px;
	background-color: #bec1f7;
}
.inline-buttons {
	display: inline-block;
	margin: 0;
}
#pages > input[type="submit"] {
	width:  30px;
	margin: 0 5px;
	text-align: center;
}
